<!DOCTYPE html>
<html>
<head> 
	<meta charset="UTF-8">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	<meta charset="UTC-8">
	<link rel="stylesheet" type="text/css" href="main.css">
</head>
<body>

<%= session[:user_id] %>


<a href="/log-out"><button type="button">Click Me!</button></a>


</body>
</html>