<!DOCTYPE html>
<html>
<head> 
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	<meta charset="UTC-8">
	<link rel="stylesheet" type="text/css" href="css/main.css">
</head>
<body>

	<div class='header'>
		<strong>thanx</strong>MATZ
	</div>

	<form class='signin' method="POST" action="/sign-in">
		<input type="text" placeholder="Username" name="username">
		<input type="password" placeholder="Password" name="password">
		<input type="submit" value="Sign in"> 
	</form>

	<div class='notmem'>
		not already a member?
	</div>

	<form class='signup' action="/sign-up">
		<input type='submit' value='SIGN UP NOW!'>
	</form>


</body>
</html>