
body {
	background-color: #FA5C44;
	font-family: "helvetica", sans-serif;
}

.header {
	font-family: "helvetica", sans-serif;
	font-size: 45px;
	color: #E6E6E6;
	text-align: center;
	margin-top: 80px;
	margin-bottom: 10px;
}
.header a {
	font-family: "helvetica", sans-serif;
	font-size: 45px;
	color: #E6E6E6;
	text-decoration: none;

}
.header a:hover {
	font-family: "helvetica", sans-serif;
	font-size: 45px;
	color: #E6E6E6;
}

.signin, .signup, .restart {
	display: block;
	text-align: center;
	width: 50%;
	margin: 0 auto;
}
.profileform {
	display: block;
	text-align: center;
	width: 50%;
	margin: 0 auto;
}
.profileform label {
	font-family: "helvetica", sans-serif;
	font-size: 20px;
	color: #E6E6E6;
	text-align: center;
	margin-top: 10px;
	margin-bottom: 10px;
}


.logout {
	display: block;

}

input {
    border: 5px solid #E6E6E6; 
    -webkit-box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1); 
    -moz-box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1); 
    box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1); 
    padding: 10px;
    background: rgba(255,255,255,0.5);
    margin: 0 0 10px 0;
   	color: #5E4E67;
}



.notmem {
	font-family: "helvetica", sans-serif;
	font-size: 30px;
	color: #E6E6E6;
	text-align: center;
	margin-top: 10px;
	margin-bottom: 10px;
}

.tobegin, .almost {
	font-family: "helvetica", sans-serif;
	font-size: 30px;
	color: #E6E6E6;
	text-align: center;
	margin-top: 10px;
	margin-bottom: 10px;
}


.top {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	background-color: #5E4E67;
	height: 70px;
	/*border-bottom: solid #E6E6E6 5px;*/
}

.title {
	font-family: "helvetica", sans-serif;
	font-size: 45px;
	color: #E6E6E6;
	width: 40%;
	margin: 0 auto;
	text-align: center;
}
.title a {
	font-family: "helvetica", sans-serif;
	font-size: 45px;
	color: #E6E6E6;
	text-decoration: none;

}
.title a:hover {
	font-family: "helvetica", sans-serif;
	font-size: 45px;
	color: #E6E6E6;
}

.welcome {
	position: absolute;
	left: 3px;
	bottom: 3px;
	text-align: center;
}
.welcome a {
	font-family: "helvetica", sans-serif;
	font-size: 20px;
	color: #E6E6E6;
	text-decoration: none;
}
.welcome a:hover {
	font-family: "helvetica", sans-serif;
	font-size: 20px;
	color: #E6E6E6;
	text-decoration: underline;
}




.logout {
	position: absolute;
	right: 3px;
	bottom: 3px;
}
.logout input {
		margin-bottom: 0;
		color: #5E4E67;

}

.content {
	width: 90%;
	margin: 100px auto;
}

.leftc {
	float: left;
	width: 50%;
	border-left: solid #E6E6E6 2px;
	border-top: solid #E6E6E6 2px;
	border-radius: 15px 0 0 0 ;
	height: 1000px
}
.leftc div {
	font-family: "helvetica", sans-serif;
	font-weight: bold;
	background-color: #E6E6E6;
	margin-bottom: 0px;
	margin-top: 15px;
	padding: 2px 2px 2px 10px;
	border-radius: 0 15px 0 0 ;
}
.leftc p {
	font-family: "helvetica", sans-serif;
	font-size: .9em;
	background-color: #E6E6E6;
	margin-top: 1px;
	margin-bottom: 20px;
	padding: 3px;
	border-bottom: solid white 2px;
}
.leftc span {
	float: right;
	margin-right: 20px;
	font-weight: lighter;
	font-size: 10px;
	text-align: right;
}

.rightc {

	float: right;
	width: 35%;
}

.postblog label {
	font-family: "helvetica", sans-serif;
	font-size: 20px;
	color: #E6E6E6;
	margin-left: -.8px;
}
.postblog textarea {
	resize: none;
	width: 90%;
	height: 150px;
    border: 5px solid #E6E6E6; 
    -webkit-box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1); 
    -moz-box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1); 
    box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1); 
    padding: 10px;
    background: rgba(255,255,255,0.5);
    margin: -5px auto 0 auto;
}

.userlist {
	text-align: right;
}
.userlist div {
	font-size: 22px;
	color: #E6E6E6;
	margin-bottom: 6px;
}
.userlist span {
	font-size: 12px;
}
.userlist p {
	color: #E6E6E6;
	margin: 0;
}




/*------------------------------------------------------*/
.profiletable {
	font-size: 1.5vw;
	width: 80%;
	margin: 120px auto 120px auto;
}



table {
	table-layout: fixed;
	width: 70%;
	margin: 50px auto;
	font-family: "helvetica", sans-serif;
	color: #E6E6E6;
}

table tr:nth-child(odd) {
   background-color: rgba(94,78,103,.6);
}
table tr:nth-child(even) {
   background-color: rgba(94,78,103,.6);
}
table td:nth-child(odd) {
	padding: 7px;
	text-align: right;
	border-left: solid #E6E6E6 5px;
	/*border-radius: 20px 0 0 20px;*/
}
table td:nth-child(even) {
	padding: 7px;
	text-align: left;
	border-right: solid #E6E6E6 5px;
	/*border-radius: 0 20px 20px 0;*/
}

.edit {
	float: left;
	text-align: center;
	
}
.edit input {
	color: #5E4E67;
	width: 200px;
}

.delete {
	float: right;
}
.delete input {
	color: #5E4E67;
	width: 200px;
}



.editinputs {
	display: block;
	text-align: center;
	width: 50%;
	margin: 0 auto;
}
.editinputs label {
	font-family: "helvetica", sans-serif;
	font-size: 20px;
	color: #E6E6E6;
	text-align: center;
	margin-top: 0px;
	margin-bottom: 10px;
}
.editinputs input {
	color: #5E4E67;
}




.sure {
	font-family: "helvetica", sans-serif;
	font-size: 45px;
	color: #E6E6E6;
	text-align: center;
	margin-top: 150px;
	margin-bottom: 50px;
}

.fuckoff {
	font-family: "helvetica", sans-serif;
	font-size: 45px;
	color: #E6E6E6;
	text-align: center;
	margin-top: 80px;
	margin-bottom: 10px;
	transition-duration: 1s;
}
.fuckoff:hover {
	margin: 500px 0 0 400px;
	opacity: 0;
}


.userlist {
	border-right: solid #E6E6E6 2px;
	border-top: solid #E6E6E6 2px;
	border-radius: 0 15px 0 0 ;
	padding: 5px;
	height: 685px
}

.profile_feed {
	margin: 0 auto;
}

.profile_feed h1 {
	color: #E6E6E6;
}